[project]
	description = Selenium Tests for WeaveHTML5
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group WeaveTeam
	owner = group user/Zachary Maybury (zmaybury)
[access "refs/for/refs/*"]
	read = group WeaveTeam
	read = group user/Zachary Maybury (zmaybury)
	push = group WeaveTeam
	push = group user/Zachary Maybury (zmaybury)
	label-Code-Review = -2..+2 group WeaveTeam
	label-Code-Review = -2..+2 group user/Zachary Maybury (zmaybury)
	label-Verified = -1..+1 group WeaveTeam
	label-Verified = -1..+1 group user/Zachary Maybury (zmaybury)
	rebase = group WeaveTeam
	rebase = group user/Zachary Maybury (zmaybury)
	removeReviewer = group WeaveTeam
	removeReviewer = group user/Zachary Maybury (zmaybury)
	submit = group WeaveTeam
	submit = group user/Zachary Maybury (zmaybury)
[access "refs/heads/*"]
	read = group WeaveTeam
	read = group user/Zachary Maybury (zmaybury)
	create = group WeaveTeam
	create = group user/Zachary Maybury (zmaybury)
	push = group WeaveTeam
	push = +force group user/Zachary Maybury (zmaybury)
	pushMerge = group WeaveTeam
	pushMerge = group user/Zachary Maybury (zmaybury)
[access "refs/tags/*"]
	push = group WeaveTeam
	push = +force group user/Zachary Maybury (zmaybury)
	pushTag = group WeaveTeam
	pushTag = group user/Zachary Maybury (zmaybury)
	pushSignedTag = group WeaveTeam
	pushSignedTag = group user/Zachary Maybury (zmaybury)
